extends ../../core/views/layouts/default.pug

include ../../core/views/mixins/_alert.pug
include ../../core/views/mixins/_modal.pug
include ../../core/views/mixins/_pagination.pug

block content
  .col-md-12
      .card
        .card-header Video Processing
