mixin dataTableCss()
  link(href='/static/css/datatable.min.css' rel='stylesheet')

mixin datatableJs()
  script(src='/static/components/datatable.min.js')
  script.
    console.log("Hello from data table")