dist
build/
docs/dist
node_modules

.idea
.vscode
.DS_Store
__MACOSX
*.log
*.local.json
*.local.js
*.local.yml

/coverage/*
!/coverage/.gitkeep

/temp/*
!/temp/.gitkeep

/cache/*
!/cache/.gitkeep

/config/local.json
/config/*.local.json

!/public/static/components/.gitkeep
files/

sessions/

